<div class="m-2 p-2 bg-success border" >
    <div class="mt-2">
        <h3 class="font-weight-bolder border text-dark rounded-pill bg-white p-1 text-center">Title:</h3>
        <textarea class="form-control" id="blogName">{{blog.name}}</textarea>
    </div>
    <div class="mt-4">
        <h3 class="font-weight-bolder border text-dark rounded-pill bg-white p-1 text-center ">Description:</h3>
        <textarea class="form-control" id="blogDescription" cols="30"
            rows="10">{{blog.description}}</textarea>
    </div>
    <button id="updateBlog" class="btn btn-success btn-lg btn-block">Update Blog</button>
</div>

<script src="/js/updateBlog.js"></script>
